APP_NAME="Hotel Luna Azul"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://hotel-luna-azul.test

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hotel_luna_azul
DB_USER=root
DB_PASS=

PYTHON_BIN="C:/laragon/www/hotel-luna-azul/python/venv/Scripts/python.exe"

SESSION_NAME=luna_sess
TZ=America/Bogota
